{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu">
    <div id="subscribe" class="subscribe-overlay">
      <a class="subscribe-overlay-close" href="#"></a>
      <div class="subscribe-overlay-content">
          {% if site.logo %}
              <img class="subscribe-overlay-logo" 
                   src="{{ site.baseurl }}{{ site.logo }}" 
                   alt="{{ site.title }}" />
          {% endif %}
          <h2 class="subscribe-overlay-title">Find Post</h2>
          </p>
          {% include subscribe-form.html placeholder="keyword" %}
      </div>
  </div>
    <ul class="toolbar"> <span class="command">root@zackcglee.github.io: /<span class="wave">~</span>$ cd
      {%- if page.url != blank -%}
      {%- page.url -%}
      {%- else -%}
      /
      {%- endif -%}
    </span>
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.title -%}
        <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
