<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://code.jquery.com/jquery-3.5.1.min.js https://apis.google.com/; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com http://calendar.google.com; img-src 'self' 'unsafe-inline' https://avatars.githubusercontent.com https://calendar.google.com http://calendar.google.com; font-src 'self' https://fonts.gstatic.com; connect-src 'self' 'unsafe-inline' 'unsafe-eval' https://api.github.com; media-src 'self' 'unsafe-inline' 'unsafe-eval'; object-src 'self' 'unsafe-inline' 'unsafe-eval'; child-src 'self' 'unsafe-inline' 'unsafe-eval' https://clients6.google.com https://calendar.google.com; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection"  content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">

  {%- include head.html -%}

  <body>
    <div class="container">

      {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}

    </div>
  </body>
</html>
